@model outDO.Models.Project

<h2>@Model.Name</h2>

<h3>Boards</h3>
@foreach (var board in ViewBag.Boards)
{
    <h4>@board.Name</h4>
    <a class="btn btn-success" asp-controller="Board" asp-action="Show" asp-route-id="@board.Id">View Board</a>
}

<a class="btn btn-success" asp-controller="Board" asp-action="New" asp-route-id="@Model.Id">Add Board</a>