


#_layoutHeader {
    background: linear-gradient(90deg, rgba(70, 17, 156,1) 0%, rgba(114, 18, 122,1) 35%, rgba(22, 133, 178,1) 65%, rgba(22, 178, 55,1) 100%) !important;
}

.project-card {
    background: transparent !important;
    color: aliceblue;
    border: 2px solid;
    
}

body {
    margin-bottom: 60px;
    font-family: monospace, 'Courier New' !important;
    font-optical-sizing: auto !important;
    background: linear-gradient(45deg, rgba(70, 17, 156,1) 0%, rgba(22, 133, 178,1) 65%, rgba(22, 178, 55,1) 100%) !important;
}