 
<body>
<div>
	<h2 class="display-2">ADMINISTRATION PANEL</h2>
	<hr />
	<!--manage projects-->
	<h3><a class="btn btn-outline-primary btn-lg btn-block" asp-controller="Admin" asp-action="Projects">Manage Projects</a></h3>
	<!--manage users-->
	<h3><a class="btn btn-outline-primary btn-lg btn-block" asp-controller="Admin" asp-action="Users">Manage Users</a></h3>
</div>
</body>
