@section Styles {

	<link href="@Url.Content("~/css/adminIndex.css")" rel="stylesheet" type="text/css" />

}

<body>
	<div>
		<h2 class="display-2">PROJECT MANAGEMENT</h2>
		<a class="btn btn-success mb-3" asp-controller="Admin" asp-action="GoBack">Go Back</a>
		<hr />
		<div class="container">
			@foreach (var project in ViewBag.Projects)
			{
				<div class="card mt-3">
				<div class="row align-items-center mb-2 card-body">
					<div class="col-auto ">
						<h5>@project.Name</h5>
						<p>
							<a>Organisers: </a>
							@{
								var index = 0;

								foreach (var org in ViewBag.ProjectOrganisers[project.Id])
								{
									if (index < 3)
									{
										index += 1;
										<a>@org.UserName  </a>
									}
									else
									{
										<a>+more</a>
										break;
									}
								}
							}
						</p>

					</div>
					<div class="col text-end ">
						<a class="btn btn-info" asp-controller="Project" asp-action="Show" asp-route-id="@project.Id">Manage Project</a>
					</div>
				</div>
				</div>
			}
		</div>
	</div>
</body>