@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
	
	<div>
		<h2 class="display-2">USER MANAGEMENT</h2>
		<a class="btn btn-success mb-3" asp-controller="Admin" asp-action="GoBack">Go Back</a>
		@foreach(var user in ViewBag.users)
		{
			<div class="card mt-3">
				<div class="card-body">
					<h5>@user.Item1.UserName</h5>
					<p>@user.Item1.Email</p>
					@if (!user.Item2)
					{
						<a class="btn btn-danger" asp-controller="Admin" asp-action="BanUser" asp-route-id="@user.Item1.Id">Ban User</a>
					}
					else
					{
						<a class="btn btn-info" asp-controller="Admin" asp-action="UnBanUser" asp-route-id="@user.Item1.Id">UnBan User</a>
					}
				</div>
			</div>
		}
		
	</div>
</body>