@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        body{
            background: linear-gradient(45deg, rgba(123,29,166,1) 27%, rgba(63,68,211,1) 70%, rgba(75,159,168,1) 100%) !important;
        }
    </style>
}

<div class="text-center" style="color: #F6F6F6">
    <h1 class="display-4">Welcome</h1>
    <p>Home for logged in users~!</p>
</div>
