@*
    PAGINA PT UTILIZATORI NELOGATI
*@
@{
    ViewData["Title"] = "Presentation Page";
}

<div class="text-center">
    <h1 class="display-4">Got things to do?</h1>
    <h1 class="display-4"><b>outDO yourself</b></h1>

    <p>Using our very good and proffessional and well made</p>
    <h2 class="display-6">Task Managment Web App</h2> <!--de ce nu merge display 7....-->
    <p>you will find yourself no longer missing deadlines or forgetting assignments</p>
    <p>as well as bringing you and your team together in an organized manner!</p>

    <h3 class="display-4">About Us</h3>
    <p>miau miau</p>
    <p>hyperlinks la alte pagini? sau about us alta pagina?</p>
    <p>sneak peeks cum arata sa folosesti board-urile si conturile?</p>
    <p>miaum miau</p>
</div>
