@model outDO.Models.Board

<form asp-controller="Board" asp-action="New">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

    <input type="hidden" asp-for="Id" value="id"/>
    <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId" />

    <label asp-for="Name">Board Name</label>
    <input asp-for="Name" />

    <button type="submit">Add Board</button>

</form>